/* Fonts */
$gotham: 'Gotham';
$gothamB: 'GothamB';
$gothamL:  'GothamL';
$lora: 'Lora';

$baseFont: 16; 

//colors
$gray: #4c4c4c;
$lightGray: #737373;
$cream: #f6f2ec;

$white: #fff;
$black: #000;



