 *,
 body {
      font-family: $gothamL;
      margin: 0;
      padding: 0;
      color: $black;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
 }

 a {
      text-decoration: none;
 }

 ul,
 ol {
      list-style: none;
 }

 .container {
      &--general {
           width: 100%;
           overflow: hidden;
      }

      &--limit {
           width: 100%;
           max-width: 1200px;
           margin: 0 auto;
      }

      &--limitNav {
           width: 100%;
           max-width: 1200px;
           padding: 0 20px;
           margin: 0 auto;

           @media only screen and ($mediaBMobile) {
                padding: 0;
                margin: 0;
           }
      }

      &--location {
           width: 100%;
           max-width: 800px;
           padding: 0 20px;
           margin: 0 auto;
      }

      &--limitLocation {
           width: 100%;
           max-width: 800px;
           padding: 0 20px;
           margin: 0 auto;
      }
 }

 .dNone {
      display: none !important;
 }

 .op0{
      opacity: 0;
 }

 .op1{
      opacity: 1;
 }

 .textColorW {
      color: $white;
 }