$mediaXSMobile: "max-width : 400px";
$mediaSMobile: "max-width : 560px";
$mediaMobile: "max-width : 767px";
$mediaBMobile: "max-width : 877px";
$mediaTablet: "max-width : 994px";
$mediaBTablet: "max-width : 1040px";
$mediaLaptop: "max-width : 1367px";
$mediaDesktop: "max-width : 1199px";
