.main {
    width: 100%;
    margin-bottom: 60px;

    &__content {
        width: 100%;
        padding: 0 20px;

        &--allText {
            @include flex();
            margin: auto;
            margin-bottom: 100px;
            max-width: 700px;

            @include media($mediaTablet) {
                margin-bottom: 70px;
            }

            .compText {
                @include flex(center, center, column);
                text-align: center;

                &__title::after {
                    content: " ";
                    display: block;
                    z-index: 1;
                    position: relative;
                    width: 30px;
                    height: 1px;
                    overflow: hidden;
                    background-color: $black;
                    top: 25px;
                    left: calc((100% / 2) - 15px);
                }
            }
        }

        &--imgText {
            width: 100%;
            @include flex(space-between);
            margin-bottom: 25px;

            @include media($mediaTablet) {
                flex-direction: column;
                margin-bottom: 50px;
            }

            .compText {
                width: 40%;
                padding: 0 70px;

                @include media($mediaTablet) {
                    width: 100%;
                    max-width: 600px;
                    text-align: center;
                    padding: 0;
                }


                &__title::after {
                    content: " ";
                    display: block;
                    z-index: 1;
                    position: relative;
                    width: 30px;
                    height: 1px;
                    overflow: hidden;
                    background-color: $black;
                    top: 25px;

                    @include media($mediaTablet) {
                        left: calc((100% / 2) - 15px);
                    }
                }
            }

            .compImg {
                width: 60%;

                @include media($mediaTablet) {
                    width: 90%;
                    margin-top: 50px;
                }

                @include media($mediaMobile) {
                    width: 100%;
                }
            }

            &--Rv {
                flex-direction: row-reverse;
                margin-bottom: 50px;

                @include media($mediaTablet) {
                    flex-direction: column;

                }

                .compText {
                    padding: 0 17px 0 70px;

                    @include media($mediaTablet) {
                        padding: 0;
                    }
                }
            }
        }

        &--location {
            background-image: url('../src/img/bg/bgLocation.jpg');
            background-size: cover;
            padding: 75px 0 90px 0;

            &__section {
                .compImg {
                    display: block;
                }

                .compText {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 700px;
                    text-align: center;

                }
            }
        }
    }
}