@for $i from 0 through 10 {
    $value: $i * 5;
    .fz#{$value}{
        font-size:  #{$value}px;
    }
}

@for $i from 0 through 10 {
    $value: $i * 5;
    .fzEm#{$value}{
        font-size:  #{$value}em;
    }
}

@for $i from 0 through 10 {
    $value: $i * 5;
    .fzW#{$value}{
        font-size:  #{$value}vw;
    }
}

@for $i from 0 through 10 {
    $value: $i * 5;
    .fzH#{$value}{
        font-size:  #{$value}vh;
    }
}