//flex
@mixin flex($content: center, $items: center, $direction: row, $wrap: wrap, $display: flex) {
    display: $display;
    justify-content: $content;
    align-items: $items;
    align-content: $items;
    flex-direction: $direction;
    flex-wrap: $wrap;
}


@mixin media($media) {
    @if  type-of($media) == number {
        @media only screen and (max-width: $media + px){
            @content;
        } 
    } @else {
        @media only screen and ($media){
            @content;
        } 
    }
}