@font-face {
    font-family: 'Gotham';
    src: url('../src/fonts/Gotham-Medium.eot');
    src: url('../src/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Gotham-Medium.woff') format('woff'),
        url('../src/fonts/Gotham-Medium.ttf') format('truetype'),
        url('../src/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamB';
    src: url('../src/fonts/GothamBook.eot');
    src: url('../src/fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GothamBook.woff') format('woff'),
        url('../src/fonts/GothamBook.ttf') format('truetype'),
        url('../src/fonts/GothamBook.svg#GothamBook') format('svg');
}

@font-face {
    font-family: 'GothamL';
    src: url('../src/fonts/GothamLight.eot');
    src: url('../src/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GothamLight.woff') format('woff'),
        url('../src/fonts/GothamLight.ttf') format('truetype'),
        url('../src/fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lora';
    src: url('../src/fonts/Lora-Regular.eot');
    src: url('../src/fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Lora-Regular.woff') format('woff'),
        url('../src/fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}