.banner {
    position: relative;
    width: 100%;
    margin-bottom: 65px;
    @include flex();

    @include media($mediaBMobile) {
        padding-top: 90px;
    }

    &__img {
        width: 100%;
    }

    &__title {
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        font-family: $gothamL;
        font-weight: 100;
        letter-spacing: 10px;
        line-height: 50px;
        color: $white;
        width: 100%;
        max-width: 700px;
        font-size: toRem(28);
        top: 32%;
        opacity: .7;

        @include media(600) {
            font-size: toRem(20);
            letter-spacing: 6px;
            line-height: 30px;
            max-width: 400px;
            top: 50%;
        }
        
        @include media(400) {
            max-width: 300px;
            font-family: $gothamB;
            font-size: toRem(12);
            letter-spacing: 5px;
            line-height: 20px;
        }
    }
}