.footer {
    margin-top: 65px;
    background-color: $gray;

    &__container {
        @include flex();
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 13px;
        
        @include media($mediaMobile) {
            padding: 5px 20px 15px;
            @include flex($direction: column);
        }
    }

    &__left,
    &__right,
    &__center {
        width: 100%;
        max-width: 170px;
    }

    &__left {
        @include flex();

        .logoTH {
            border-right: 1px solid $white;
            padding-right: 10px;
            margin: 10px;
        }
    }

    &__center {
        @include flex();
        max-width: calc(100% - 340px);

        @include media($mediaTablet) {
            position: relative;
            top: -10px;
        }

        @include media($mediaMobile) {
            max-width: 100%;
        }
        
        &__box {
            width: auto;
            font-size: 0.7em;
            color: $white;
        }
    }

    &__right {
        &__text {
            color: $white;
            font-size: 0.6em;
        }
    }

    &__box {
        @include flex($display: inline-flex);
        width: auto;
    }

    &__text,
    &__link {
        font-size: toRem(10);
        color: $white;
        font-family: $gothamL;
        text-align: center;
    }

    &__link {
        .footer__box--pseudoNav & {
            &:not(:last-of-type) {
                border-right: 1px solid $white;
                padding-right: 5px;
            }

            &:not(:first-of-type) {
                padding-left: 5px;
            }
        }
    }
}