.galeryDesktop {
    width: 100%;
    height: 100%;
    min-height: 390px;
    @include flex($direction: column);

    @include media($mediaBMobile) {
        display: none;
    }

    &__title {
        margin-bottom: 20px;

        &__span {
            font-size: toRem(16);
            text-transform: uppercase;
            font-family: $gothamB;
            letter-spacing: 3px;            
            color: $lightGray;
        }
    }

    &--center {
        @include flex();
    }

    &__item {
        width: 100%;
        height: 100%;
        max-width: 390px;
        max-height: 250px;
        margin: 2px 0;
        padding: 0 2px;

        &:hover {
            .galeryDesktop__text__container {
                opacity: 1;
            }
        }

        &__link {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
    }


    &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 5px;

        &__container {
            opacity: 0;
            transition: 1s;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($white, 0.99);
            @include flex($direction: column);

            .title,
            .text,
            .btnRead {
                font-family: $gothamL;
                color: $gray;
                text-align: center;
                width: 100%;
                padding: 10px;
            }

            .btnRead {
                font-family: $gothamB;
                font-weight: 800;
            }
        }
    }

    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 390px;
        max-height: 250px;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
}

.galeryMobile {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: none;
    
    @include media($mediaBMobile) {
        display: block;
    }

    .swiper {
        width: 100%;

        &-galery {
            width: 100%;
            height: 100%;

        }

        &-slide {
            @include flex();
            position: relative;
            width: 100%;

            &--image {
                width: 100%;
            }
        }

        &-button {
            &-next {
                color: $gray;
            }

            &-prev {
                color: $gray;
            }
        }

        &-pagination {
            span {
                background-color: $gray;
            }
        }
    }
}