.header {
    z-index: 9;
    width: 100%;
    background-color: $white;
    padding: 20px;

    @include flex(space-around);


    @include media($mediaTablet) {
        padding-left: 0;
        padding: 30px;
        position: fixed;
        @include flex($display: block);

    }

    @include media($mediaSMobile) {
        @include flex(flex-start);
    }

    &__left,
    &__center,
    &__right {
        @include flex();

        &__text {
            font-family: $lora;
            letter-spacing: 0.5px;
            color: $gray;
            font-size: toRem(11);

            @include media($mediaTablet) {
                display: none;
            }

        }

        .btn {
            margin-left: 20px;

            @include media($mediaTablet) {
                display: none;
            }
        }

        .centerH {
            margin-left: 20px;
        }
    }

    &__left,
    &__right {
        width: 330px;
    }

    &--underLine {
        position: relative;
        top: 15px;
        display: block;
        width: 50%;
        height: 0.1px;
        background-color: $black;
        -webkit-mask-image: linear-gradient(90deg, transparent, $black, transparent);

        @include media($mediaTablet) {
            display: none;
        }
    }
}