//Desktop
.nav {
    z-index: 11;
    &__list {
        @include flex();
        padding: 15px 0;

        &__item {
            cursor: pointer;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid transparent;
            transition: 1s;
        }

        &__item:hover {
            border-bottom: 2px solid $black;
        }
    }

    &__contentMobile {
        display: none;
        margin-top: 10px;

        &__text {
            width: 100%;
            font-family: $lora;
            font-size: 11px;
            text-align: center;
            margin-top: 5px;
        }

        .btn {
            margin-top: 20px;
        }
    }
}


//Mobile
@include media($mediaTablet) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $cream;
        overflow-y: auto;
        transition: 1s;
        @include flex(center, center, column, nowrap );

        &__list {
            margin-top: 30px;
            @include flex(center, center, column);

            &__item {
                padding: 8px 10px;

            }
        }

        &__contentMobile {
            margin-bottom: 30px;
            display: block;
        }
    }
    .inactiveModal {
        opacity: 0;
        left: 100%;
    }
}


