.btn {
    cursor: pointer;
    transition: 0.5s;

    &--simple {
        display: inline-block;
        text-align: center;
        font-family: $gothamB;
        text-transform: uppercase;
        font-weight: 900;
        padding: 10px 45px;
        border: 2px solid $black;
        color: $black;
    }

    &--simple:hover {
        background-color: $black;
        color: $white;
    }

    &--nav {
        z-index: 99;
        display: none;
        position: fixed;
        width: 35px;
        height: 35px;
        cursor: pointer;
        top: 26px;
        right: 5%;
        transition: 2s;


        @include media($mediaTablet) {
            display: block;
            margin: 0 10px;
        }


        @include media($mediaXSMobile) {
            font-size: 2em;
            top: 22px;
            right: 0;
        }

        @include media(340) {
            top: 18px;
        }

        &__container {
            width: 100%;
            height: 100%;
            @include flex($items: space-arraund);

            span {
                display: block;
                width: 100%;
                height: 15%;
                background-color: $gray;
                border-radius: 5px;
                transition: 1s;

            }
        }
    }
}

.btnNavActive {
    .e1 {
        position: relative;
        top: 32%;
        transform: rotate(-45deg);
    }

    .e2 {
        opacity: 0;
    }

    .e3 {
        position: relative;
        top: -32%;
        transform: rotate(45deg);
    }
}