.compText {
    font-family: $gothamB;

    @include media($mediaTablet) {
        width: 100%;
        max-width: 600px;
    }

    &__span {
        font-size: toRem(15);
        text-transform: uppercase;
        font-weight: 600;

        &--location {
            font-family: $gothamL;
            letter-spacing: 6px;
        }
    }

    &__title {
        font-size: toRem(24);
        font-weight: 100;
        margin-top: 10px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        color: $gray;
    }

    &__text {
        font-family: $lora;
        font-size: toRem(15);
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 26px;
        color: $lightGray;
    }
}

.compImg {
    &__img {
        width: 100%;
    }
}