.loder{
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    @include flex();
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: $gray;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.hideLouder {
    -webkit-animation: fadeOut 1.2s;
    animation: fadeOut 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: none;
    
}

@include animationLoader;
@include animationFadeOut;
  