.logoBianca {
    font-family: $lora;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 10px;

    @include media($mediaXSMobile) {
        font-size: 1em;
    }

    @include media(340) {
        font-size: 0.8em;
    }
}

.logoTH {
    text-transform: uppercase;
    color: $white;
    font-size: toRem(22);
}

.logoTrust {
    span {
        text-transform: uppercase;
        color: $white;
    }

    &__p1 {
        padding-top: 2px;
        display: block;
        font-size: toRem(15);
        line-height: 16px;
    }

    &__p2 {
        display: block;
        font-size: toRem(7);
        text-align: center;
    }
}   

.logoTambo {
    @include flex();
    
    &__text {
        @include flex();
        width: 60%;
        &__span {
            width: 100%;
            font-size: toRem(9);
            line-height: 12px;
            text-align: right;
            color: $white;
        }
    }

    &__icon {
        height: 25px;
        margin-left: 10px;
        img {
            height: 100%;
        }
    }
}